html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

/* Styling header component */

.header {
    display: flex;
    height: 700px;
    background:#352da5;
    justify-content: center;
    align-items: center;
    transition: background 2s ease-in-out;
}

.header:hover {
    background:cornflowerblue;
}

.header-content {
    width: 485px;
    height: 230px;
    margin: 0px 5rem 5rem 0;
    
    
}

.header-content-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    color: #fff;
    margin: 0;
    margin-bottom: 3rem; 
}

.header-content-button {
    text-decoration: none;
    color: rgb(251, 251, 251);
    background: #E02C6D;
    padding: 10px 24px;
    font-size: 1.5rem;
    

}
.header-content-button:hover {
    color: #E02C6D;
    background: rgb(251, 251, 251);
    animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
   0% {
        opacity: 1;
        transform: translateY(0px);
    }
   25% {
        opacity: 0.25;
        transform: translateY(30px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(60px);
    }
    75% {
        opacity: 0.25;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.fa-arrow-right {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.header-banner {
    width: 33rem;
    height: 28rem;
    padding: 20px;
}

/* End of styling header section  */

/* styles for main section where top players details and latest news are shown */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* top players details */

.players {
    margin-top: 4.1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.3rem;

}

.player {
    background:#fbf2f2;
    padding: .8rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.157);
}

.player-image {
    width: 300px;
    height: 256px;
}

.player-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0px;
}

.player-description {
    width: 300px;
    height: 150px;
    color: #6C6C6C;
    overflow: auto;
}

/* End of top players details */

/* starting of latest news */

.news-heading {
    font-size: 3rem;
}

.all-news {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

.single-news {
    display: flex;
    width: 480px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.157);
    padding: 1rem;
    border-radius: 1rem;
}

.news-banner {
    width: 280px;
    height: 220px;
    border-radius: 5px;
}

.news-details {
    margin-left: 0.6rem;
}

.news-details small {
    color: red;
}

.news-details h1 {
    font-size: 1.6rem;
    margin-top: 0;
}

/* End of latest news */

/* World top five teams */

.World-ranking {
    margin: 4rem ;
    padding: 2rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.157);
    border-radius: 20px;
}

.ranking-position, .ranking-nations, .ranking-points {
    border-bottom: 5px solid rgb(38, 88, 4);
    margin-bottom: 2rem;
    color: black;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.486);
}

.team-position {
    margin-left: 1rem;
}

.ranking-team-flag {
    width: 3rem;
    height: 2rem;
    margin-left: 1rem;
}

/* End of top five teams styling */

/* Starting of footer styling */

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    margin-bottom: 1.2rem; 
}

.icons > .fab ,
.icons > .fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background: rgba(128, 128, 128, 0.486);
    margin-left: 0.8rem;
}

.copyright {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* End of footer styling */

/* Media query for Tablet */

@media (max-width:960px) {
    .header {
        flex-direction: column;
        padding: 4rem 1rem 2rem 1.8rem;
        height: 100%;
    }
    .header-content {
        width: 70%;
        height: auto;
    }
    .header-banner {
        width: 90%;
        height: auto;
    }
    .players {
        grid-template-columns: repeat(2,1fr);
    }
    .news-heading {
        text-align: center;
    }
    .all-news {
        grid-template-columns: 1fr;
    }
    .ranking-category {
        text-align: center;
    }
    .footer-football-logo {
        text-align: center;
        width: 500px;
    }
}

/* Media query for simple mobile device */

@media (max-width:480px) {
    .header {
        padding: 4rem 1rem 0 2rem;
    }
    .header-content {
        width: 270px;
    }
    .header-content-heading {
        font-size: 36px;
        line-height: 50px;

    }
    .header-banner {
        width: 330px;
        height: 280px;
        margin-top: -3.2rem;
    }
    .players {
        grid-template-columns: repeat(1,1fr);
    }
    .news-heading {
        text-align: center;
    }
    .all-news {
        grid-template-columns: 1fr; 
    }
    .single-news {
        flex-direction: column;
        width: 320px;
    }
    .World-ranking {
        margin: 0;
        padding: 1rem;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.157);
        border-radius: 0;
    } 
    .ranking-position, .ranking-nations, .ranking-points {
        font-size: 18px;
    }
    .ranking-category {
        text-align: center;
    }
    .team-position , .team-name, .team-score {
        font-size:1.6rem;
    }
    .ranking-team-flag {
        width: 2.4rem;
        height: 1.6rem;
        margin-left: 0.4rem;
    }
    .footer-football-logo {
        width: 250px;
    }
    .copyright {
        font-size: 0.8rem;
    }
    
}
